<div class="container mt-4">
  <h2 class="text-center mb-4">Aktuelles Voting:</h2>
  <div class="text-center">
    <img [src]="safeUrl" alt="" class="imageTag">
  </div>
  <br>
  <h3 class="text-center">{{activeItemName ?? "noch nicht gestartet"}}</h3>
  <br>
  <div class="text-center"><button (click)="revealVotes()">Ergebnisse Anzeigen</button></div>
  <div class="table-responsive" *ngIf="reveal && item">
    <h3>Tatsächlicher Preis: {{item.price}}</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nutzer</th>
          <th scope="col">Schätzung</th>
          <th scope="col">Abweichung</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vote of votes; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ vote.user_name }}</td>
          <td>{{ vote.price_guess | currency:'EUR' }}</td>
          <td>{{ (item.price - vote.price_guess) | currency:'EUR' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-list-container">
  <h2>Rangliste</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nutzer</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.score | number: '1.0-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>

