.imageTag {
    width: 100%;
    height: auto;
    max-width: 300px; /* Limit width to 500px */
    max-height: 300px; /* Limit height to 300px */
    object-fit: cover; /* The image will be cropped if it exceeds the max dimensions */
}

.user-list-container {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  